---
layout: default
title: index
permalink: /
---

<!-- <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Navegar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="margin-left: -40px" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.logo_title }}</span><img src="{{ site.logo_small }}" width="52px" height="52px"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                {% for section in site.sections %}
                    <li>
                      <a class="page-scroll" href="#{{ section.id }}">
                        <span class="section_nav_span" data-i18n="{{ section.i18n }}" style="color: rgb(103, 106, 108)">{{ section.name }}</span>
                      </a>
                    </li>
                {% endfor %}

                <script type="text/javascript">
                  $(document).ready(function(){
                    $('.section_nav_span').hover(function(){
                      $(this).css("color", "rgb(0, 51, 153)");
                      }, function(){
                      $(this).css("color", "rgb(103, 106, 108)");
                    });
                  });
                </script>

                {% for language in site.languages %}
                  <li>
                    <a id="set_lang_{{ language.locale }}" class="btn btn-sm set_{{ language.locale }}" data-locale="{{ language.locale }}">
                      <img src="{{ language.flag | prepend: site.baseurl }}" height="16px" width="16px">
                    </a>
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div> -->
<div class="header-back one">

  <div style="text-align: center;">
    <h1>En construcción</h1>
  </div>

  <div style = "z-index: 10; width: 100%; height: 100%; position: absolute;">
    <img src="/static/img/Letters.png" class="letters" style="display:block; margin:auto; max-width:30%; max-height:30%;">
  </div>

  <div style = "width: 100%; height: 100%; position: absolute;">
    <img src="/static/img/Screw.png" id="screw">
  </div>

</div>

{% for section in site.sections %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  <section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0px;">
    {% include sections/{{section.tpl}} %}
  </section>
{% endfor %}
