---
layout: default
title: index
permalink: /
---

<div class="header-back one">

  <div style = " width: 100%; height: 100%; position: fixed; display:flex; top:-20%;">
    <h1 style = "margin: auto;">En construcción</h1>
  </div>

  <div style = "z-index: 10; width: 100%; height: 100%; position: fixed; display:flex; top:-0%;">
    <img src="/static/img/landing/logo_letters.png" class="letters" style="display:block; margin:auto; max-width:30%; max-height:30%;">
  </div>

  <div style = "width: 100%; height: 100%; position: fixed; display:flex; top:-0%;">
    <img src="/static/img/landing/logo_screw.png" class="screw" style="display:block; margin:auto; max-width:30%; max-height:30%;">
  </div>

  <div style = "z-index: 10; width: 100%; height: 100%; position: fixed; display:flex; top:20%;">
    <button type="button" class="btn btn-primary btn-lg register_link" style="display: block; margin: auto;">
        <span class="glyphicon" aria-hidden="true"></span> Ver edición 2017
    </button>
  </div>

  <div style = "width: 100%; height: 100%; position: fixed; display:flex; top: 50%; right: 50%;">
    <img src="/static/img/landing/logo_screw.png" class="screw" style="display:block; margin:auto; max-width:17%; max-height:17%;">
  </div>

  <div style = "width: 100%; height: 100%; position: fixed; display:flex; top: 50%; right: 50%;">
    <img src="/static/img/landing/logo_screw.png" class="screw" style="display:block; margin:auto; max-width:35%; max-height:35%;">
  </div>

  <div style = "width: 100%; height: 100%; position: fixed; display:flex; right: -50%; top:-20%;">
    <img src="/static/img/landing/logo_screw.png" class="screw" style="display:block; margin:auto; max-width:15%; max-height:15%;">
  </div>

</div>

{% for section in site.sections %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  <section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0px;">
    {% include sections/{{section.tpl}} %}
  </section>
{% endfor %}
