<div class="container" style="padding-bottom: 30px" id="i18_faq">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="faq.title">F.A.Q.</span></h1>
        </div>
    </div>
    <div class="row">
        {% for data in site.data.faq.content %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if loopindex == 1 %}
        <div class="col-sm-12"><br/></div>
        <div class="col-sm-4">
        {% else %}
        <div class="col-sm-4">
        {% endif %}
        {{% autoescape false %}}
            <h2>{{ data.question.title }}</h2>
            <p>{{ data.question.answer }}</p>
        </div>
        {{% endautoescape %}}
        {% endfor %}
    </div>
</div>
