<div class="container" style="padding-bottom: 30px" id="i18_photos">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="photos.title">Fotos 2017</span></h1>
        </div>
    </div>
    <div class="row">
        <div id="photos" class="row shuffle photos-slick">
        {% for photo_idx in (site.data.photos.pictures.start..site.data.photos.pictures.end) %}
            <div class="col-xs-12 col-sm-4">
                <img src="{{ site.data.photos.pictures.path }}/{{ photo_idx }}.{{ site.data.photos.pictures.format }}" class="img-responsive" style="margin-left: auto; margin-right: auto; max-height: 200px">
            </div>
        {% endfor %}
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-xs-12 m-b-md">
                <h1 style="text-align: center; font-size: 24px; color: #668cff">Plata</h1>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*
        * Snippet taken from: https://css-tricks.com/snippets/jquery/shuffle-dom-elements/
        */
        $.fn.randomize = function(selector){
            (selector ? this.find(selector) : this).parent().each(function(){
                $(this).children(selector).sort(function(){
                    return Math.random() - 0.5;
                }).detach().appendTo(this);
            });

            return this;
        };
        /*
        * End of snippet
        */
        $(document).ready(function(){
            if (screen.width >= 768){
                $('#photos .row div').unwrap('.row');
                $('.shuffle').randomize('div');
                var photos_div = $('#photos div');
                photos_div.removeClass("col-xs-12");
                photos_div.removeClass("col-md-4");
                photos_div.addClass("slick-slide");
                photos_div.css("top", "0px");
                $('.photos-slick').slick({
                    slidesToScroll: 1,
                    slidesToShow: 3,
                    dots: false,
                    arrows: false,
                    centerMode: false,
                    autoplay: true,
                    autoplaySpeed: 0,
                    speed: 4000,
                    cssEase: 'linear',
                    pauseOnHover: true,
                    infinite: true
                });
            }
        });
    </script>
</div>