<div class="container" id="i18_resources">
    <div class="row m-b-sm">
        <div class="col-xs-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about.title">Recursos</span></h1>
        </div>
    </div>
    <div class="row m-b-md">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <p style="font-size: 16px">Gracias al <a href="http://www.bifi.es/">Instituto de Biocomputación y Física de Sistemas Complejos (BIFI)</a> podréis usar la infraestructura <i class="fa fa-cloud"></i> Cloud del <a href="http://cesar.unizar.es/">Centro de Supercomputación de Aragón (CESAR)</a>.</p>
            <p style="font-size: 16px">El supercomputador al que tendréis acceso tiene <strong>1800 cores Intel Xeon E5-2670-V3</strong>, <strong>20TB de memoria RAM DDR4</strong> y <i class="fa fa-database"></i> <strong>600 TB de almacenamiento</strong>. ¡Podréis levantar máquinas virtuales para desarrollar vuestros proyectos!</p>
            <p style="font-size: 16px">Además, también os traerán algo que estamos seguros de que os encantará. ¡Tendremos <i class="fa fa-print"></i> impresoras 3D!
        </div>
    </div>
</div>