<div class="container-fluid" style="padding-bottom: 30px" id="i18_organizers">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="signup.title">Inscripción</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScgW8xlXvhMYFZkuit7odB-TZLwoSqQr5FSsfNAa5UmZiJJ6Q/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
        </div>
    </div>
</div>
<br>
