<style>
#table_tennis_tournament *{
    color: #668cff;
}
#fifa_xbox_tournament *{
    color: #668cff;
}
#i18_tournaments * {
    font-size: 16px;
}
#i18_tournaments h1 * {
    font-size: 30px;
}
#i18_tournaments h2 {
    font-size: 18px;
    color: #676a6c;
}
</style>
<div class="container" id="i18_tournaments">
    <div class="row m-b-sm">
        <div class="col-xs-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about.title">Torneos</span></h1>
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <p>Desde <a href="http://careers.adidas-group.com/">adidas Group</a> os han preparado dos torneos que se jugarán en paralelo al desarrollo de vuestros proyectos. Podréis inscribiros una vez dé comienzo el hackathon. Aquí tenéis los torneos, sus reglas y los premios que se llevará el ganador. ¡No perdáis la oportunidad!</p>
        </div>
        <div id="table_tennis_tournament" class="col-xs-12 col-md-offset-1 col-md-5 text-center">
            <h2>Tenis de mesa</h2>
            <div class="row text-left">
                <ul>
                    <li>La inscripción es individual</li>
                    <li>Los emparejamientos serán aleatorios y se jugará a eliminación directa, brackets simples</li>
                    <li>Gana el que antes consiga 11 tantos con una diferencia de 2 tantos sobre el otro jugador</li>
                    <li>Si alguno de los dos jugadores llega a 11 tantos con una diferencia menor, ganará el que antes consiga una diferencia de 2 tantos</li>
                </ul>
                <p class="text-center">PREMIO: <strong>¡Un kit de un productos deportivos adidas!</strong></p>
            </div>
        </div>
        <div id="fifa_xbox_tournament" class="col-xs-12 col-md-5 text-center">
            <h2>FIFA en Xbox</h2>
            <div class="row text-left">
                <ul>
                    <li>La inscripción es individual</li>
                    <li>Los emparejamientos serán aleatorios y se jugará a eliminación directa, brackets simples</li>
                    <li>Los partidos durarán 10 minutos (5 minutos cada parte)</li>
                    <li>En caso de empate se jugarán directamente los penaltis, sin pasar por una prórroga</li>
                </ul>
            </div>
            <p class="text-center">PREMIO: <strong>¡Una consola Xbox One!</strong></p>
        </div>
    </div>
</div>