<div class="container" id="i18_tournaments">
    <div class="row m-b-sm">
        <div class="col-xs-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about.title">Torneos</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <p>Desde <a href="http://careers.adidas-group.com/">adidas Group</a> os han preparado dos torneos que se jugarán en paralelo al desarrollo de vuestros proyectos. Podréis inscribiros en una vez de comienzo el hackathon. Aquí tenéis los torneos, sus normas y los premios que os llevaréis. ¡No perdáis la oportunidad!</p>
        </div>
        <div class="col-xs-12 col-md-offset-2 col-md-4">
            <h2>Tenis de mesa</h2>
            <ul>
                <li>La inscripción es individual</li>
                <li>Gana el que antes consiga 11 tantos con una diferencia de 2 tantos sobre el otro jugador</li>
                <li>Si alguno de los dos jugadores llega a 11 tantos con una diferencia menor, ganará el que antes consiga una diferencia de 2 tantos</li>
            </ul>
            <p>PREMIO: El ganador se llevará... <strong>¡Un kit de un producto deportivo de adidas!</strong></p>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2>FIFA en Xbox</h2>
            <ul>
                <li>La inscripción es individual</li>
                <li>Los partidos durarán 10 minutos (5 minutos cada parte)</li>
                <li>En caso de empate se jugarán directamente los penaltis, sin pasar por una prórroga</li>
            </ul>
            <p>PREMIO: El ganador se llevará... <strong>¡Una consola Xbox One!</strong></p>
        </div>
        <br>
    </div>
</div>