<style>
    .scrolloff {
        pointer-events: none;
    }
</style>
<div id="canvas1" class="map">
<iframe id="map_canvas1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6314.264547850576!2d-0.8888747558587397!3d41.678723530768465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x717af7f457b39d45!2sUniversidad+de+Zaragoza%3A+Campus+R%C3%ADo+Ebro!5e0!3m2!1ses!2ses!4v1478560691827" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        // you want to enable the pointer events only on click;

        $('#map_canvas1').addClass('scrolloff'); // set the pointer events to none on doc ready
        $('#canvas1').on('click', function () {
            $('#map_canvas1').removeClass('scrolloff'); // set the pointer events true on click
        });

        // you want to disable pointer events when the mouse leave the canvas area;

        $("#map_canvas1").mouseleave(function () {
            $('#map_canvas1').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
        });
    });
</script>